#playerDisplay {
    width: 80%;
    padding-bottom: 1%;
    margin: 0 10%;
    border-radius: 45px 45px 0 0;
    background-color: #e4e4e4;
    border: 1px solid #BEBEBE;
    position: absolute;
    bottom: 0;
}

#pd_container {
    margin: 0 auto;
    text-align: center;
}

#letterDisplay {
    position: relative;
    display: inline;
}

.playerButtons {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 1% 3%;
    border: 1.5px solid red;
    border-radius: 30px;
    cursor: pointer;
    color: red;
    margin: 0 5%;
    font-size: 16px;
    transition: all 0.2s ease;
}

.playerButtons:hover {
    background-color: red;
    color: #FFF;
}

#svgDisplay {
    position: absolute;
    transform: translateY(39.5%);
}

#svgDisplay image {
    width: 50px;
    height: auto;
}

#btnReady {
    outline: 0;
    border: 0;
    border: 1.5px solid #54C472;
    background-color: transparent;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

#btnReady:hover {
    background-color: #54C472;
}

#playerCheck {
    color: #54C472;
    font-size: 22px;
    transition: all 0.2s ease;
}

#btnReady:hover #playerCheck {
    color: #FFF;
}